<%= form_for(@link, :html => { :class => "form-horizontal", role: "form" } ) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Title of Link", maxlength: 255 %>
  </div>
  <div class="form-group">
    <%= f.text_field :url, class: "form-control", placeholder: "Link URL (http://google.com)" %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, class: "form-control", placeholder: "Brief Description of Link" %>
  </div>
  <div class="form-group">
    <%= f.text_field :tag_list, class: "form-control", placeholder: "Tags (separate by comma)" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Link", class: "btn btn-primary" %>
  </div>
<% end %>