<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <% @links.each do |link| %>
        <div class="panel panel-default">
          <div class="panel-heading link-heading">
            <a href="<%= link.printable_url %>" class="panel-title col-md-7" target="_blank"><%= link.title %></a>
            <div class="tag_list col-md-5">
              <% link.tag_list_on(:tags).each do |tag| %>
                <a href="/links/tagged/<%= tag %>"><%= tag %></a>
              <% end %>
            </div>
          </div>
          <div class="panel-body">
            <p class="list-group-item-text col-md-8"><%= link.description %></p>
            <div class="link_meta col-md-4">

              <p class="posted_by">Posted by <%= link_to link.user.name , "/links/user/#{link.user.id}" %> <img src="<%= link.user.gravatar %>" class="avatar" alt="<%= link.user.name %>"</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

