<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <% @links.each do |link| %>
        <div class="panel panel-default">
          <div class="panel-heading link-heading">
            <a href="<%= link.printable_url %>" class="panel-title col-md-7" target="_blank"><%= link.title %></a>
            <div class="tag_list col-md-5">
              <% link.tag_list_on(:tags).each do |tag| %>
                <a href="/links?tag=<%= tag %>"><%= tag %></a>
              <% end %>
            </div>

          </div>
          <div class="panel-body">
            <p class="list-group-item-text col-md-10"><%= link.description %></p>
            <div class="link_meta col-md-2">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm link_user_info tip" data-original-title="Posted by <%= link.user.name %>">
                  <span class="glyphicon glyphicon-user tip"></span>
                </button>
                <button type="button submit" form="add_reading" class="btn btn-info btn-sm add_reading tip" data-original-title="Add link to reading list">
                  <span class="glyphicon glyphicon-share"></span>
                </button>
              </div>
              <form action="/readings" method="post" id="add_reading">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <input type="hidden" name="title" value="<%= link.title %>">
                <input type="hidden" name="description" value="<%= link.description %>">
                <input type="hidden" name="url" value="<%= link.printable_url%>">
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
              </form>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

