<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% @links.each do |link| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="<%= link.printable_url %>" class="panel-title" target="_blank"><%= link.url %></a>
          <ul class="tag_list">
            <li>Tagged as:</li>
            <% link.tag_list_on(:tags).each do |tag| %>
              <a href="/links/tagged/<%= tag %>"><%= tag %></a>
            <% end %>
          </ul>
        </div>
        <div class="panel-body">
          <p class="list-group-item-text"><%= link.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>



<%= link_to 'New Link', new_link_path %>